<section class="relative">
  <h1 class="text-4xl text-center my-3 text-green-500 font-medium">
    Our Categories
  </h1>
  <div
    class="grid max-sm:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4"
  >
    <div
      class="flex justify-between items-center rounded bg-gray-300 m-1 p-2 hover:translate-x-2 duration-500"
    >
      <img
        src="/images/freshcart-logo.svg"
        class="w-[30%] h-[50px] rounded object-contain"
        alt=""
      />

      <button
        (click)="getAllSubCategoriesOfCategory()"
        class="w-[70%] px-3 py-2 bg-green-500 rounded"
      >
        All sub Ctegory
      </button>
    </div>
    @for (cat of categoryData; track $index) {
    <div
      class="flex justify-between items-center rounded bg-gray-300 m-1 p-2 hover:translate-x-2 duration-500"
    >
      <img
        [src]="cat.image"
        class="w-[30%] h-[50px] rounded object-contain"
        alt=""
      />

      <button
        (click)="getAllSubCatOnSpecCat(cat._id)"
        class="w-[70%] px-3 py-2 bg-green-500 rounded"
      >
        {{ cat.name }}
      </button>
    </div>
    }
  </div>
</section>

@if(showModal){
<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-60 z-[9999]"
>
  <div
    class="overflow-hidden relative border-white border-2 shadow-sm flex dark:bg-slate-900 p-5 bg-white h-4/6 rounded-lg md:w-1/2 flex-col items-center"
  >
    <button
      (click)="closeModal()"
      class="text-green-700 text-3xl fa-solid fa-close absolute top-5 right-5"
    ></button>
    <div
      class="flex items-center text-start w-full flex-wrap px-4 justify-between"
    >
      <div class="flex items-center w-1/2">
        @if(spicCategoryData.image !== undefined && numberofSubCat !== 60){
        <img
          [src]="spicCategoryData.image"
          class="object-contain h-[150px] w-3/5"
          [alt]="spicCategoryData.name"
        />
        <h3 class="ms-4 font-serif font-semibold text-2xl text-green-700">
          {{ spicCategoryData.name }}
        </h3>

        } @else {
        <img
          src="/images/freshcart-logo.svg"
          class="object-contain h-[100px] w-2/5"
          [alt]="spicCategoryData.name"
        />

        }
      </div>
      <h3
        class="ms-2 font-serif capitalize font-semibold text-xl text-green-700"
      >
        number of all subcatgory :{{ numberofSubCat }}
      </h3>
    </div>

    <div class="overflow-y-auto h-[300px] border-y-2 w-full flex flex-wrap">
      @if(numberofSubCat !== 0) { @for(item of AllspicCategoryData;track
      $index){

      <div class="bg-green-600 rounded m-2 w-[46%] flex px-3 py-2 text-white">
        <div>{{ item.name }}</div>
        <!-- <div>{{ item.createdAt | date : "short" }}</div> -->
      </div>
      } } @else {
      <p
        class="text-2xl mt-6 text-red-600 font-bold font-serif text-center w-full items-center"
      >
        NO SubCategories for this SubCategory ({{ spicCategoryData.name }}) yet
      </p>
      <i
        class="fa-solid text-green-600 text-5xl mx-auto dark:text-white fa-face-sad-tear"
      ></i>
      }
    </div>
  </div>
</div>
}
