<div
  class="bg-slate-50 dark:bg-slate-900 border-green-400 border-2 py-4 my-4 max-sm:px-5 sm:px-10 md:w-[50%] mx-auto rounded"
>
  <h1 class="my-3 text-center text-2xl font-monoks text-green-400 font-medium">
    CheckOut
  </h1>

  <form [formGroup]="checkoutform" (ngSubmit)="onSubmit()">
    <div class="mb-1">
      <label class="text-gray-900 text-sm mb-2 block" for="phone">Phone</label>
      <input
        formControlName="phone"
        class="w-full border-green-400 text-gray-900 bg-white border rounded"
        type="tel"
        placeholder="Enter your phone (Egyption)"
        name="phone"
      />

      @if( checkoutform.get('phone')?.getError('required') &&
      checkoutform.get('phone')?.touched){
      <div
        class="mt-1 flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 i nline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Messege Error :</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if(checkoutform.get('phone')?.getError('required')){
            <li>Mobile phone Is required</li>
            } @else if(checkoutform.get('phone')?.getError('pattern')){
            <li>Enter Egyption Number</li>

            }
          </ul>
        </div>
      </div>
      }

      <label class="text-gray-900 text-sm my-2 block" for="city">City:</label>
      <input
        formControlName="city"
        class="w-full border-green-600 text-gray-900 bg-white border rounded"
        type="text"
        name="city"
        placeholder="Enter your city"
      />

      @if( checkoutform.get('city')?.getError('required') &&
      checkoutform.get('city')?.touched){
      <div
        class="mt-1 flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 i nline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Messege Error :</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if(checkoutform.get('city')?.getError('required')){
            <li>City Is required</li>
            }
          </ul>
        </div>
      </div>
      }

      <label class="text-gray-900 text-sm my-2 block capitalize" for="details"
        >address in details :</label
      >
      <textarea
        formControlName="details"
        class="w-full border-green-600 text-gray-900 bg-white border rounded"
        name="details"
        placeholder="Enter your Address (in details)"
      ></textarea>
      @if( checkoutform.get('details')?.getError('required') &&
      checkoutform.get('details')?.touched){
      <div
        class="mt-1 flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 i nline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Messege Error :</span>
          <ul class="mt-1.5 list-disc list-inside">
            @if(checkoutform.get('city')?.getError('required')){
            <li>Details Is required</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="flex justify-center my-2 pt-3">
      <button
        type="submit"
        class="text-center items-center font-bold flex btn-main mx-1"
      >
        by Visa Card
        <img
          src="/images/mastercard.webp"
          class="w-12 bg-white px-3 ms-2 py-2 rounded-sm"
          alt=""
        />
      </button>
      <!-- <button    type="submit"  class="btn-main" type="submit"> cash pay </button> -->
    </div>
  </form>
</div>
