<section>
  <div class="flex justify-center items-center">
    <div class="lg:flex items-stretch my-4">
      <div class="lg:w-1/2">
        <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6">
          <div class="sm:w-1/2 relative">
            <div>
              <p
                class="p-6 text-xs font-medium leading-3 text-black absolute top-0 right-0"
              >
                12 April 2021
              </p>
              <div class="absolute bottom-0 left-0 p-3">
                <h2 class="text-xl font-semibold 5 text-black">
                  The Decorated Ways
                </h2>
                <p class="text-base leading-4 text-black mt-2">
                  Dive into minimalism
                </p>
                <a
                  href="javascript:void(0)"
                  class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-black hover:text-gray-700 hover:underline"
                >
                  <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                  <svg
                    class="fill-stroke"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.75 12.5L10.25 8L5.75 3.5"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <img src="/images/grocery-banner.png" class="w-full" alt="chair" />
          </div>
          <div class="sm:w-1/2 sm:mt-0 mt-4 relative">
            <div>
              <p
                class="p-6 text-xs font-medium leading-3 text-black absolute top-0 right-0"
              >
                12 April 2021
              </p>
              <div class="absolute bottom-0 left-0 p-3">
                <h2 class="text-xl font-semibold 5 text-black">
                  The Decorated Ways
                </h2>
                <p class="text-base leading-4 text-black mt-2">
                  Dive into minimalism
                </p>
                <a
                  href="javascript:void(0)"
                  class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-black hover:text-gray-700 hover:underline"
                >
                  <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                  <svg
                    class="fill-stroke"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.75 12.5L10.25 8L5.75 3.5"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <img
              src="/images/playstation.jpeg"
              class="w-full"
              alt="wall design"
            />
          </div>
        </div>
        <div class="relative">
          <div>
            <p
              class="md:p-10 p-3 text-xs font-medium leading-3 text-black absolute top-0 right-0"
            >
              12 April 2021
            </p>
            <div class="absolute bottom-0 left-0 md:p-10 p-6">
              <h2 class="text-xl font-semibold 5 text-black">
                The Decorated Ways
              </h2>
              <p class="text-base leading-4 text-black mt-2">
                Dive into minimalism
              </p>
              <a
                href="javascript:void(0)"
                class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-black hover:text-gray-700 hover:underline"
              >
                <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                <svg
                  class="fill-stroke"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.75 12.5L10.25 8L5.75 3.5"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
          <img
            src="/images/grocery-banner-2.jpeg"
            alt="sitting place"
            class="w-full mt-8 md:mt-6sm:block"
          />
        </div>
      </div>
      <div
        class="lg:w-1/2 xl:ml-8 lg:ml-4 lg:mt-0 md:mt-6 mt-4 lg:flex flex-col justify-between"
      >
        <div class="relative">
          <div>
            <p
              class="md:p-10 p-6 text-xs font-medium leading-3 text-black absolute top-0 right-0"
            >
              12 April 2021
            </p>
            <div class="absolute bottom-0 left-0 md:p-10 p-3">
              <h2 class="text-xl font-semibold 5 text-black">
                The Decorated Ways
              </h2>
              <p class="text-base leading-4 text-black mt-2">
                Dive into minimalism
              </p>
              <a
                href="javascript:void(0)"
                class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-black hover:text-gray-700 hover:underline"
              >
                <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                <svg
                  class="fill-stroke"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.75 12.5L10.25 8L5.75 3.5"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
          <img
            src="/images/slider-image-3.jpeg"
            alt="sitting place"
            class="w-full sm:block"
          />
        </div>
        <div
          class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6 md:mt-6 mt-4"
        >
          <div class="relative w-full">
            <div>
              <p
                class="p-6 text-xs font-medium leading-3 text-black absolute top-0 right-0"
              >
                12 April 2021
              </p>
              <div class="absolute bottom-0 left-0 p-6">
                <h2 class="text-xl font-semibold 5 text-black">
                  The Decorated Ways
                </h2>
                <p class="text-base leading-4 text-black mt-2">
                  Dive into minimalism
                </p>
                <a
                  href="javascript:void(0)"
                  class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-black hover:text-gray-700 hover:underline"
                >
                  <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                  <svg
                    class="fill-stroke"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.75 12.5L10.25 8L5.75 3.5"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <img src="/images/slider-image-2.jpeg" class="w-full" alt="chair" />
          </div>
          <div class="relative w-full sm:mt-0 mt-4">
            <div>
              <p
                class="p-6 text-xs font-medium leading-3 text-black absolute top-0 right-0"
              >
                12 April 2021
              </p>
              <div class="absolute bottom-0 left-0 p-3">
                <h2 class="text-xl font-semibold 5 text-black">
                  The Decorated Ways
                </h2>
                <p class="text-base leading-4 text-black mt-2">
                  Dive into minimalism
                </p>
                <a
                  href="javascript:void(0)"
                  class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-black hover:text-gray-700 hover:underline"
                >
                  <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                  <svg
                    class="fill-stroke"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.75 12.5L10.25 8L5.75 3.5"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <img
              src="/images/slider-image-1.jpeg"
              class="w-full"
              alt="wall design"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="text-green-500 text-4xl text-center capitalize my-3">
    products
  </div>
  <div
    class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10"
  >
    @for (prod of products; track $index) {
    <div
      class="card cursor-pointer overflow-hidden border border-green-400/200 rounded relative"
    >
      <div [routerLink]="['/details', prod._id]" class="card-image">
        <img
          class="card-img-top h-[250px] object-contain w-full"
          [src]="prod.imageCover"
          [alt]="prod.title"
        />
      </div>
      <div
        [routerLink]="['/details', prod._id]"
        class="cursor-pointer card-body pt-3 px-2 flex flex-col"
      >
        <h4 class="text-green-600 text-center text-sm">
          {{ prod.category.name }}
        </h4>
        <h3 class="card-title font-medium mb-2">
          {{ prod.title.split(" ", 2).join(" ") }}
        </h3>
        <p class="card-text">Brand: {{ prod.brand.name }}</p>

        <div class="flex items-center justify-end">
          @for(star of [1,2,3,4,5].slice(0,prod.ratingsAverage) ;track $index){
          <i class="fa-solid fa-star text-yellow-400"></i>
          } @if( prod.ratingsAverage %1 !==0 ){
          <i class="fa-solid fa-star-half-alt text-yellow-400"></i>
          }
          <span class="text-gray-500">({{ prod.ratingsAverage }})</span>
        </div>
      </div>
      <div class="flex justify-between my-2 px-2 items-start relative">
        <span class="font-bold">price : {{ prod.price }} EGP </span>

        <i
          (click)="addProductToWishlist(prod._id)"
          class="absolute top-0 end-3 z-20 cursor-pointer text-lg text-red-600 fa-regular fa-heart"
        ></i>
        @for (data of wishData; track $index) { @if(wishData !== null){ @if(
        data._id == prod._id ){
        <i
          (click)="RemoveProductFromWishlist(prod._id)"
          class="absolute top-0 end-3 z-[21] cursor-pointer text-lg text-red-600 fa-solid fa-heart"
        ></i>
        } @if(data._id !== prod._id){
        <i
          (click)="addProductToWishlist(prod._id)"
          class="absolute top-0 end-3 z-20 cursor-pointer text-lg text-red-600 fa-regular fa-heart"
        ></i>
        } } }

        <!-- 

                <i (click)="addProductToWishList(prod._id) "
                    class=" absolute top-0 end-3 z-20  cursor-pointer text-lg  text-red-600  fa-regular fa-heart"></i>
                @if(wishData !== null){
                @for (data of wishData; track $index) {

                @if( data._id == prod._id ){

                <i (click)="removProductFromWishlist(prod._id) "
                    class=" absolute top-0 end-3 z-[21]  cursor-pointer text-lg  text-red-600  fa-solid fa-heart"></i>
                }

                @if(data._id !== prod._id){
                <i (click)="addProductToWishList(prod._id) "
                    class=" absolute top-0 end-3 z-20  cursor-pointer text-lg  text-red-600  fa-regular fa-heart"></i>
                }

                }
                } -->
      </div>
      <button
        (click)="addToCart(prod._id)"
        class="py-3 bg-green-800 text-white block w-[90%] mx-auto rounded"
      >
        <i class="fa-solid fa-cart-shopping"></i> Add To Cart
      </button>
    </div>
    }
  </div>
  <div class="flex justify-center my-4 w-[100%] text-center">
    <!-- Previous Button -->
    <a
      (click)="getproductData()"
      class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-green-500 border border-gray-300 rounded-lg hover:text-gray-700 dark:bg-green-600 dark:border-gray-700 dark:text-gray-200 dark:hover:text-white"
    >
      <svg
        class="w-3.5 h-3.5 me-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 5H1m0 0 4 4M1 5l4-4"
        />
      </svg>
      Page 1
    </a>
    <a
      (click)="getproductData2()"
      role="button"
      class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
    >
      Page 2
      <svg
        class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </div>
</section>
