.card {
  button {
    transform: translateY(100%);
    transition: all 0.8s;
    opacity: 0;
  }
  &:hover {
    button {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
